<div id="<%= dom_id vocabulariopalavra %>">
  <p>
    <strong>Palavra:</strong>
    <%= vocabulariopalavra.palavra %>
  </p>

  <p>
    <strong>Vocabulario:</strong>
    <%= vocabulariopalavra.vocabulario_id %>
  </p>

</div>
