<% content_for :title, "Editing vocabulariopalavra" %>

<h1>Editing vocabulariopalavra</h1>

<%= render "form", vocabulariopalavra: @vocabulariopalavra %>

<br>

<div>
  <%= link_to "Show this vocabulariopalavra", @vocabulariopalavra %> |
  <%= link_to "Back to vocabulariopalavras", vocabulariopalavras_path %>
</div>
