<% content_for :title, "Editing vocabulariopalavra" %>

<h1>Editing vocabulariopalavra</h1>

<%= render "form", vocabulariopalavra: @vocabulariopalavra %>

<br>

<div>
  <%= link_to "Mostrar Vocabulario Palavra", @vocabulariopalavra %> |
  <%= link_to "Voltar para Vocabulario Palavra", vocabulariopalavras_path %>
</div>
