<p style="color: green"><%= notice %></p>

<% content_for :title, "Vocabulariopalavras" %>

<h1>Vocabulariopalavras</h1>

<div id="vocabulariopalavras">
  <% @vocabulariopalavras.each do |vocabulariopalavra| %>
    <%= render vocabulariopalavra %>
    <p>
      <%= link_to "Mostrar Vocabulario Palavra", vocabulariopalavra %>
    </p>
  <% end %>
</div>

<%= link_to "Novo Vocabulario Palavra", new_vocabulariopalavra_path %>
