<% content_for :title, "New vocabulariopalavra" %>

<h1>New vocabulariopalavra</h1>

<%= render "form", vocabulariopalavra: @vocabulariopalavra %>

<br>

<div>
  <%= link_to "Voltar para Vocabulario Palavra", vocabulariopalavras_path %>
</div>
