<div id="<%= dom_id paciente %>">
  <p>
    <strong>Nome:</strong>
    <%= paciente.nome %>
  </p>

  <p>
    <strong>Idade:</strong>
    <%= paciente.idade %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= paciente.cliente_id %>
  </p>

</div>
