<% content_for :title, "Editing paciente" %>

<h1>Editing paciente</h1>

<%= render "form", paciente: @paciente %>

<br>

<div>
  <%= link_to "Mostrar Paciente", @paciente %> |
  <%= link_to "Voltar para Pacientes", pacientes_path %>
</div>
