<p style="color: green"><%= notice %></p>

<% content_for :title, "Pacientes" %>

<h1>Pacientes</h1>

<div id="pacientes">
  <% @pacientes.each do |paciente| %>
    <%= render paciente %>
    <p>
      <%= link_to "Mostrar paciente", paciente %>
    </p>
  <% end %>
</div>

<%= link_to "Novo Paciente", new_paciente_path %>
