<div id="<%= dom_id atendimentopalavra %>">
  <p>
    <strong>Palavra:</strong>
    <%= atendimentopalavra.palavra %>
  </p>

  <p>
    <strong>Transcricao:</strong>
    <%= atendimentopalavra.transcricao %>
  </p>

  <p>
    <strong>Atendimento:</strong>
    <%= atendimentopalavra.atendimento_id %>
  </p>

</div>
