<% content_for :title, "Editing atendimentopalavra" %>

<h1>Editing atendimentopalavra</h1>

<%= render "form", atendimentopalavra: @atendimentopalavra %>

<br>

<div>
  <%= link_to "Show this atendimentopalavra", @atendimentopalavra %> |
  <%= link_to "Back to atendimentopalavras", atendimentopalavras_path %> |
  <%= link_to "Voltar para Atendimentos", atendimentos_path, class: "btn btn-secondary" %>
</div>
