<% content_for :title, "Editando Atendimento Palavra" %>

<h1>Editing atendimentopalavra</h1>

<%= render "form", atendimentopalavra: @atendimentopalavra %>

<br>

<div>
  <%= link_to "Mostar o Atendimento Palavra", @atendimentopalavra %> |
  <%= link_to "Voltar para Atendimento Palavras", atendimentopalavras_path %> |
  <%= link_to "Voltar para Atendimentos", atendimentos_path, class: "btn btn-secondary" %>
</div>
