<% content_for :title, "Novo Atendimento Palavra" %>

<h1>New atendimentopalavra</h1>

<%= render "form", atendimentopalavra: @atendimentopalavra %>

<br>

<div>
  <%= link_to "Voltar para Atendimento Palavras", atendimentopalavras_path %>
</div>
