<% content_for :title, "New atendimentopalavra" %>

<h1>New atendimentopalavra</h1>

<%= render "form", atendimentopalavra: @atendimentopalavra %>

<br>

<div>
  <%= link_to "Back to atendimentopalavras", atendimentopalavras_path %>
</div>
