<% content_for :title, "Editing atendimento" %>

<h1>Editing atendimento</h1>

<%= render "form", atendimento: @atendimento %>

<br>

<div>
  <%= link_to "Mostrar Atendimento", @atendimento %> |
  <%= link_to "Voltar para Atendimentos", atendimentos_path %>
</div>
