<% content_for :title, "Editing profissional" %>

<h1>Editing profissional</h1>

<%= render "form", profissional: @profissional %>

<br>

<div>
  <%= link_to "Show this profissional", @profissional %> |
  <%= link_to "Back to profissionals", profissionals_path %>
</div>
