<% content_for :title, "Editing profissional" %>

<h1>Editing profissional</h1>

<%= render "form", profissional: @profissional %>

<br>

<div>
  <%= link_to "Mostrar Profissional", @profissional %> |
  <%= link_to "Voltar para Profissional", profissionals_path %>
</div>
