<p style="color: green"><%= notice %></p>

<% content_for :title, "Profissionais" %>

<h1>Profissionais</h1>

<div id="profissionals">
  <% @profissionals.each do |profissional| %>
    <%= render profissional %>
    <p>
      <%= link_to "Mostrar Profissional", profissional %>
    </p>
  <% end %>
</div>

<%= link_to "Novo Profissional", new_profissional_path %>


