<% content_for :title, "New profissional" %>

<h1>New profissional</h1>

<%= render "form", profissional: @profissional %>

<br>

<div>
  <%= link_to "Voltar para Profissional", profissionals_path %>
</div>
