<% content_for :title, "Editing empresa" %>

<h1>Editing empresa</h1>

<%= render "form", empresa: @empresa %>

<br>

<div>
  <%= link_to "Mostrar Empresa", @empresa %> |
  <%= link_to "Voltar para Empresas", empresas_path %>
</div>
