<% content_for :title, "Editing vocabulario" %>

<h1>Editing vocabulario</h1>

<%= render "form", vocabulario: @vocabulario %>

<br>

<div>
  <%= link_to "Show this vocabulario", @vocabulario %> |
  <%= link_to "Back to vocabularios", vocabularios_path %>
</div>
