<% content_for :title, "Editing vocabulario" %>

<h1>Editing vocabulario</h1>

<%= render "form", vocabulario: @vocabulario %>

<br>

<div>
  <%= link_to "Mostrar Vocabulario", @vocabulario %> |
  <%= link_to "Voltar para Vocabulario", vocabularios_path %>
</div>
