<p style="color: green"><%= notice %></p>

<% content_for :title, "Vocabularios" %>

<h1>Vocabularios</h1>

<div id="vocabularios">
  <% @vocabularios.each do |vocabulario| %>
    <%= render vocabulario %>
    <p>
      <%= link_to "Show this vocabulario", vocabulario %>
    </p>
  <% end %>
</div>

<%= link_to "New vocabulario", new_vocabulario_path %>
