<% content_for :title, "New vocabulario" %>

<h1>New vocabulario</h1>

<%= render "form", vocabulario: @vocabulario %>

<br>

<div>
  <%= link_to "Voltar para Vocabulario", vocabularios_path %>
</div>
